<%- include('header') -%>
        <div class="container">
            <% for(const kitten of kittens){ %>
                <div class="kitten">
                    <a href="/kitten/<%= kitten.id %>"><%= kitten.name %></a>
                    <img src="<%= base_url %>/images/<%= kitten.image %>" />
                </div>
            <% } %>

        </div>
      </body>
    </html>